.prompt {
  margin-top: 48px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 16px;
  text-align: start;
  text-wrap: pretty;
  padding: 24px;
  color: black;
  animation: slideInBottom 0.5s ease-in-out;
}

@keyframes slideInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
