main {
  /* margin: 88px auto 0px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 88px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 2.5rem;
  margin-bottom: 16px;
  line-height: 130%;
  font-family: "Poppins", sans-serif;
}

.title strong {
  background: linear-gradient(0deg, #ff8800, #fffc62);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 1.2rem;
  text-wrap: balance;
  text-align: center;
  font-weight: 300;
  color: hsl(0, 0%, 100%, 0.9);
}

.promptResults {
  min-height: 330px;
  align-self: center;
}

.errorCard {
  margin-top: 48px;
  margin-inline: auto;
}

@media (max-width: 720px) {
  main {
    align-items: flex-start;
    margin-top: 16px;
  }
  .title {
    font-size: 1.8rem;
    text-align: left;
  }

  .subtitle {
    font-size: 1rem;
    text-align: left;
  }
}
