main {
  /* margin: 88px auto 0px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 88px;
}

.hero {
  max-width: 700px;
}

.title {
  font-size: 3rem;
  margin-bottom: 16px;
  text-wrap: balance;
  max-width: 25ch;
  line-height: 130%;
  font-family: "Poppins", sans-serif;
}

.title strong {
  background: linear-gradient(0deg, #ff8800, #fffc62);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 1.2rem;
  text-wrap: pretty;
  margin-bottom: 16px;
  font-weight: 300;
  width: fit-content;
  color: hsl(0, 0%, 100%, 0.9);
}

.promptResults {
  min-height: 330px;
}

@media (max-width: 720px) {
  main {
    align-items: flex-start;
    margin-top: 16px;
  }
  .title {
    font-size: 1.8rem;
    text-align: left;
  }

  .subtitle {
    font-size: 1rem;
    text-align: left;
  }
}
