.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 48px;
  gap: 24px;
  border-radius: 16px;
  color: black;
}

@media (max-width: 940px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
