.content {
  margin-inline: auto;
  max-width: 1100px;
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
