.logoContainer {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.nameTitle {
  font-weight: 300;
  font-family: "Broking";
  width: min-content;
  line-height: 90%;
  padding: 4px 0;
  margin-bottom: -4px;
  background: linear-gradient(0deg, #ff8800, #fffc62);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.logo {
  cursor: pointer;
  transition: transform 0.3s;
  width: 64px;
  height: 64px;
}

@media (max-width: 768px) {
  .logoContainer {
    font-size: 1.2rem;
  }

  .logo {
    width: 56px;
    height: 56px;
  }
}

@media (max-width: 480px) {
  .logoContainer {
    font-size: 1.1rem;
  }

  .nameTitle {
    font-size: 1.2rem;
  }

  .logo {
    width: 48px;
    height: 48px;
  }
}
