.wrap {
  position: absolute;
}
.dragon {
  width: 88px;
  height: 88px;
  pointer-events: none;
}

.fire {
  position: absolute;
  width: 88px;
  height: 88px;
  pointer-events: none;
  background-color: red;
  clip-path: polygon(91% 68%, 43% 44%, 51% 65%, 0 46%, 0 0, 47% 0);
  transform: scaleX(-1);
  border-radius: 8px;
  animation: fireAnim 0.5s infinite;
}

@keyframes fireAnim {
  0% {
    clip-path: polygon(97% 60%, 43% 44%, 51% 65%, 0 40%, 0 0, 47% 0);
  }
  50% {
    clip-path: polygon(95% 60%, 43% 44%, 51% 60%, 0 45%, 0 0, 53% 0);
  }
}
