.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
  max-width: 1200px;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.navigationList {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

/* Hidden for desktop */
.menuButton.menuButton {
  padding: 8px;
  display: none;
}

.drawerNavigationList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
}

@media (max-width: 768px) {
  .navigationList {
    display: none;
  }

  /* This is a problem with css modules not allowing to overwrite 
the styles from components so you need to do this ugly ugly thing*/

  /* TODO : If the drawer is open and the vp changes to desktop then the 
  navItems will go white and not be visible in the drawer */
  .drawerNavigationList .navButton.navButton {
    color: black;
    width: 100%;
  }

  .drawerNavigationList .navButton.navButton:hover {
    background-color: hsl(19, 100%, 73%);
  }

  .menuButton.menuButton {
    display: initial;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: row;
  }
}
