.footer {
  background: transparent;
  color: white;
  color: rgba(255, 255, 255, 0.95);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  align-self: flex-end;
  bottom: 0;
  width: 100%;
  padding: 8px 16px;
  margin-top: 24px;
  font-size: small;
  text-align: center;
}

.footer a {
  color: rgba(255, 255, 255, 0.95);
}

.text {
  font-size: 0.8rem;
  max-width: 30ch;
  text-wrap: pretty;
}

.footerBottom {
  display: block;
  padding: 8px 0;
  margin-top: 32px;
  margin-inline: -16px;
  text-align: center;
  background-color: rgb(80, 8, 52);
}

.footerBottom a {
  font-size: 0.8rem;
  max-width: 30ch;
  color: white;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    gap: 24px;
  }

  .footerNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navItems {
    gap: 16px;
  }

  .navItems > li > a {
    padding-block: 0;
  }

  aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
  }

  .footerTitle {
    padding: 0px;
  }

  .text {
    max-width: none;
    width: fit-content;
  }

  .footerBottom a {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .footerTitle {
    padding: 4px;
  }
  .footerBottom a {
    font-size: 0.6rem;
  }

  .footerNav {
    width: 100%;
    flex-direction: column;
    gap: 16px;
  }

  .navItems {
    flex-direction: column;
    gap: 16px;
  }

  .navItems > li > a {
    display: flex;
    justify-content: center;
  }

  aside {
    align-items: center;
  }

  .text {
    max-width: 300px;
    text-align: center;
  }
}
