/* global styles */
#root {
  font-family: "Poppins", sans-serif;
  color: white;
}

html,
body {
  min-height: 100vh;
  position: relative;
  min-width: 100%;
}

html {
  background: radial-gradient(
    circle closest-corner at 50% 0%,
    rgb(46, 5, 5) 0%,
    #0b0a0aff 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: "Broking";
  src: url("./fonts/Broking-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
