.promptForm {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 70px;
  width: 100%;
  position: relative;
}

.promptInput {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: hsla(0, 0%, 100%, 0.1);
  color: white;
  flex-grow: 1;
}

.promptInput::placeholder {
  color: hsla(0, 100%, 88%, 0.692);
}

.promptInput:focus {
  outline: 1px solid hsla(0, 100%, 88%, 0.836);
}

.submitButton {
  padding: 12px 24px;
  outline: 1px solid hsla(0, 100%, 88%, 0.836);
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background-color: #ff462d4d;
  color: hsl(0, 100%, 94%);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.buttonIcon {
  height: 24px;
  width: 24px;
  stroke-width: 1.5;
}

.submitButton:hover {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
  outline: 1px solid hsla(0, 100%, 88%, 0.836);
  color: white;
  transform: scale(1.05);
}
.disabled:hover {
  background-color: hsla(0, 0%, 100%, 0.281);
  outline: none;
  color: hsl(0, 0%, 81%);
  cursor: default;
  box-shadow: none;
  transform: none;
}

@media (max-width: 480px) {
  .disabled:hover,
  .submitButton:hover {
    box-shadow: none;
    transform: none;
  }

  .disabled:active,
  .submitButton:hover {
    box-shadow: none;
    transform: none;
  }

  .promptForm {
    flex-direction: column;
    align-items: stretch;
    font-size: 0.8rem;
    margin-top: 36px;
  }

  .promptInput {
    border-radius: 8px;
    padding: 12px 8px;
  }

  .submitButton {
    border-radius: 8px;
    padding: 8px;
    margin-top: 8px;
    justify-content: center;
  }
  .buttonIcon {
    height: 20px;
    width: 20px;
    stroke-width: 1.2;
  }
}
