.promptForm {
  display: flex;
  align-items: center;
  margin-top: 70px;
  width: 100%;
  position: relative;
}

.promptInput {
  padding: 12px 24px;
  border: none;
  border-radius: 8px 0 0 8px;
  /* font-size: 1rem; */
  background-color: hsl(0, 0%, 99%);
  flex-grow: 1;
}

.submitButton {
  padding: 12px 24px;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #ff7d03;
  color: hsl(0, 0%, 5%);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.disabled:hover {
  background-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 30%);
  cursor: default;
}

.submitButton:hover {
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.disabled:hover {
  box-shadow: none;
  transform: none;
}
